@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Roboto, sans-serif;
}

/*hero section*/

.hero {
    padding: 0px 200px;
    background-color: #1F2937;
}

/* navbar */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px;
}

.navBar h2 {
    font-size: 24px;
    color: #f9faf8;
}

.navBar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.hero .links a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

/*Main Text*/

.containerMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.mainText h1{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8
}

.mainText p{
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 20px;
}
.mainText button{
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: 18px;
    border: 0px;
    padding: 8px 25px;
    font-weight: bold;
}