@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*hero section*/

.hero {
    padding: 0px 200px;
    background-color: #1F2937;
}

/* navbar */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px;
}

.navBar h2 {
    font-size: 24px;
    color: #f9faf8;
}

.navBar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.hero .links a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

/*Main Text*/

.containerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px 0;
}

.mainText h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8
}

.mainText p {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}

.mainText button {
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: 18px;
    border: 0px;
    padding: 8px 25px;
    font-weight: bold;
}

/*information*/

.information {
    display: flex;
    padding: 50px 200px;
    font-size: 36px;
    font-weight: 800;
    color: #1d2937;
    align-items: center;
    justify-content: center;
}

.infoCards {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.infoCards p {
    max-width: 175px;
}

.infoCards img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 25px;
    width: 175px;
    height: 175px;
    border-color: #3882f6;
}

.infoContainer {
    padding: 0px 0px 200px 0px;
}

/* quote */
.quote {
    padding: 10% 30%;

    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
}

.phrase {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    color: #3c3c42;
}

.thor {
    font-weight: bolder;
    font-size: 30px;
    text-align: right;
    color:#3c3c42;
}

.containerWhite{
    background-color: white;
    padding: 100px 300px;
}

.callToAction{
    color:#e5e7eb;
    display: flex;
    background-color: #3882f6;
    border-radius: 20px;
    padding: 4% 0.25%;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.CallToActionText{
    margin: 10px;
}


.callToAction button {
    border-width: 2px;
    font-size: 15px;
    border-radius: 10px;
    padding: 1% 5%;
    background-color: #3882f6;
    color:#e5e7eb;
    margin: 10px;
}


footer{
    background-color: #1F2937;
    padding: 1%;
    color:#E5E7EB;
    text-align: center;
}